*{margin:0;padding:0;}
a{text-decoration: none;font-size: 12px; font-family: "微软雅黑";}
ul li,ol li{list-style: none;font-size: 12px;font-family: "微软雅黑";}
b,strong,h1,h2,h3,h4,h5,h6,p{font-weight: normal;font-size: 12px;font-family: "微软雅黑";}
i,em{font-style: normal;font-size: 12px;font-family: "微软雅黑";}
input{outline:none;}
.clearfix:after{content: '';display:block; clear:both;}
.clearfix{zoom:1;} 
 img{vertical-align:top;}